section{
    padding: 1.5rem 12rem;
    min-height: calc(100svh - 4rem);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

.table thead tr th, .table tbody tr th, .table tbody tr td{
    background-color: var(--primary);
}

.table thead tr, .table tbody tr{
    border-color: var(--text);
}

.table tbody tr td{
    max-width: 10rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table tbody tr th input{
    width: 1rem;
    height: 1rem;
}

.table tbody tr td button{
    color: var(--link);
    background: transparent;
    border: none;
}

.modal-body textarea{
    width: 100%;
    min-height: 5rem;
    padding: .5rem;
    outline: none;
    resize: vertical;
}

.delete{
    width: fit-content;
}