header{
    position: relative;
    height: 4rem;
    padding: 0rem 12rem;
    background-color: var(--primary);
    box-shadow: 0px 0px 5px var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.logo{
    width: 4rem;
    height: 100%;
    background: url(../ASSETS/logo2.png) center/cover no-repeat;
}

header nav {
    height: 100%;
}

header nav ul{
    height: 100%;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header nav ul li{
    height: 100%;
}

header nav ul a{
    height: 100%;
    color: var(--text);
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav ul a:hover{
    height: calc(100% - .25rem);
    border-bottom: .25rem solid var(--secondary);
}

#profile{
    position: absolute;
    bottom: -5rem;
    right: 0;
    height: 4rem;
    padding: 0rem 1rem 0rem 1rem;
    color: var(--text);
    text-decoration: none;
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    gap: .5rem;
    align-items: center;
}

#profile:hover{
    color: var(--secondary);
}

#profile img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}