*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--primary);
}

:root{
    --primary: #f5f2db;
    --primary2: #fcf5e5c4;
    --secondary: #405c51;
    --link: #2ca776;
    --text: #3b3b3b;
    --white: #fff;
}